<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
</head>
<body>
   <h1>Bonjour {{ username }} , votre nouveau mot est passe est : </h1>
   <p>{{ password }}</p>
   <p>Merci de le valider en cliquant sur le lien ci-dessous</p>
   <a href="{{ url }}">Validation de votre mot de passe</a>
</body>
</html>